// All application specific styles go here

.application-content
  margin-top: -$header-height-homepage-extend
  background-color: $color-body-bg

.background-greybars
  +background-greybars

.rating-stars
  i.fa
    color: $gold

.accordion-header-manager
  em
    color: $red !important
    font-weight: 600

.structure-table-required
  background-color: $blue-1 !important
  td
    text-shadow: 1px 1px rgba(255,255,255,.5)
  td.structure-table-activitytitle
    font-weight: 600
  &:nth-child(odd)
    background-color: $blue-2 !important

td.structure-table-activitytitle
  span.structure-table-collapse
    color: $purple-6
    font-style: italic
    text-shadow: $box-shadow-small
    font-weight: 600
    cursor: pointer
  div
    font-weight: 600
    color: $grey-12
    padding-top: 5px
    padding-bottom: 15px
  div.structure-table-quetion
    font-style: normal
  div.structure-table-answer
    font-style: italic

.text-summary
  text-align: left
  p, li, a, td
    font-size: 1.6rem
    line-height: $base-line-height-double
  p
    margin-bottom: $base-line-height
    &:last-of-type
      margin-bottom: 0
  ul, ol
    margin: $base-line-height 0
  li
    margin-bottom: $base-line-height-half
    &:last-of-type
      margin-bottom: 0
  a
    +transition-all()
    padding: 5px
    margin: -5px
    border-radius: $border-radius-small
    text-decoration: underline
    color: $blue-8
    &:hover
      text-decoration: underline
      background-color: $blue-1
      color: $blue-8


.introduction
  +background-greybars
  position: relative
  margin: 0
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 100px rgba(0,0,0,.08)
  padding: $base-line-height-triple
  margin-bottom: $base-line-height
  h1,h2,h3,h4,h5,h6
    color: $blue-8
    font-weight: 400
    margin: 0
    padding: 0
    margin-bottom: $base-line-height
    text-transform: none
  h1
    font-size: $ms-5
  h2
    font-size: $ms-4
  .introduction-text
    @extend .text-summary
  .instructions-text
    @extend .text-summary
    margin-top: $base-line-height-double