// All application specific styles go here

.application-content
  margin-top: -$header-height-homepage-extend
  background-color: $color-body-bg

.background-greybars
  +background-greybars

.rating-stars
  i.fa
    color: $gold

.accordion-header-manager
  em
    color: $red !important
    font-weight: 600

.structure-table-required
  background-color: $blue-1 !important
  td
    text-shadow: 1px 1px rgba(255,255,255,.5)
  td.structure-table-activitytitle
    font-weight: 600
  &:nth-child(odd)
    background-color: $blue-2 !important