{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "Firefox ESR",
            "not ie <= 11"
          ]
        },
        "useBuiltIns": true,
        "debug": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-object-assign"
  ]
}
