{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true,
      "restParams": true,
      "forOf": true,
      "generators": true,
      "modules": false,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-undef": 1,
    "comma-dangle": 1,
    "brace-style": 1,
    "camelcase": 1,
    "no-new-wrappers": 1,
    "no-floating-decimal": 1,
    "no-extra-bind": 1,
    "no-console": 0,
    "curly": 1,
    "default-case": 0,
    "dot-notation": 1,
    "eqeqeq": 1,
    "no-unused-vars": 0,
    "react-native/no-unused-styles": 0,
    "react-native/split-platform-components": 1,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-danger": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.15.2"
    }
  },
}